
.DS_Store

Use Cases/ImageGallery/ImageGallery.xcodeproj/project.xcworkspace/xcuserdata/leonardomaldonado.xcuserdatad/UserInterfaceState.xcuserstate

Use Cases/News Feed/News Feed.xcodeproj/project.xcworkspace/contents.xcworkspacedata

Use Cases/News Feed/News Feed.xcodeproj/project.xcworkspace/xcuserdata/leonardomaldonado.xcuserdatad/UserInterfaceState.xcuserstate

Use Cases/News Feed/News Feed.xcodeproj/xcuserdata/leonardomaldonado.xcuserdatad/xcschemes/xcschememanagement.plist
